{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

  {{/* Author Info Block */}}
  {{ with .Params.author }}
    {{ $author := index site.Data.authors . }}

    {{ if $author }}
      <div class="author-box" style="display:flex;align-items:center;margin:1.5em 0;">
        {{ with $author.avatar }}
          <img src="{{ . | relURL }}" alt="{{ $author.name }}" style="width:48px;height:48px;border-radius:50%;margin-right:1em;">
        {{ end }}
        <div>
          <strong>{{ $author.name }}</strong>
          {{ with $author.bio }}
            <div style="font-size:0.95em;color:#666;">{{ . }}</div>
          {{ end }}
          {{ with $author.social.twitter }}
            <a href="https://twitter.com/{{ . }}" target="_blank" rel="noopener" style="font-size:0.9em;">Twitter</a>
          {{ end }}
          {{ with $author.social.github }}
            <a href="https://github.com/{{ . }}" target="_blank" rel="noopener" style="font-size:0.9em;margin-left:0.5em;">GitHub</a>
          {{ end }}
        </div>
      </div>
    {{ end }}
  {{ end }}

  {{ .Content }}
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}
